---
layout: false
directory_index: false
---
<?xml version="1.0" encoding="UTF-8"?>
%urlset{:xmlns => 'http://www.sitemaps.org/schemas/sitemap/0.9'}
  - sitemap.resources.select { |page| page.ext == '.html' }.each do |page|
    %url
      %loc= File.join('http://', base_url, page.destination_path.gsub('index.html', ''))
      %priority 0.7
      %lastmod= File.new(page.source_file).mtime.xmlschema
